name: Lint, Build, Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20, 22, 24]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Configure Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - name: Install
        run: npm ci
      - name: Linter
        run: npm run lint:check
      - name: Prettier
        run: npm run prettier:check
      - name: Build
        run: npm run build
      - name: Test
        run: npm test
